body {
  font-family: "Readex Pro", sans-serif !important;
  margin: 0;
}

h1 {
  position: relative;
}

body,
html {
  height: 100%;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

:root {
  --colorGreen: #4D8577;
  --colorTurquoise: #329C9D;
  --colorYellow: #FFD600;
  --colorViolet: #9177F1;
  --colorNavy: #4179B2;
  --colorSalmon: #E36463;
  --colorPlum: #8f13a4ff;
}

figure,
p {
  margin-bottom: 0 !important;
}

.row {
  --bs-gutter-x: 0rem !important;
}

.links {
  color: white;
}

.links:link,
.links:visited,
.links:active {
  text-decoration: none !important;
}

.links:hover {
  text-decoration: none !important;
  color: white;
}


/* MAIN SCROLLBAR START */

::-webkit-scrollbar {
  width: 15px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #0b9c9cff;
}

::-webkit-scrollbar-thumb {

  background-color: rgb(8, 126, 126);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(7, 109, 109);
}

/* MAIN SCROLLBAR END */


/* ANIMATED BACKGROUND START */

.backwrap {
  background-color: #004551;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.back-shapes {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.floating {
  position: absolute;
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.floating.circle {
  display: inline-block;
  width: 39px;
  height: 39px;
  background-image: url("./files/icons/circle_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.floating.square {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("./files/icons/square_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.floating.triangle {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("./files/icons/triangle_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.floating.cross {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("./files/icons/cross_icon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@keyframes floating {
  0% {
    transform: translateY(0%) rotate(-55deg);
  }

  50% {
    transform: translateY(300%) rotate(55deg);
  }

  100% {
    transform: translateY(0%) rotate(-55deg);
  }
}

/* ANIMATED BACKGROUND END */


/* PRELOAD SPINNER START*/

.preloaderWrapper {
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #004551;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.fadeOut {
  opacity: 1;
  visibility: visible;
}

/* PRELOAD SPINNER END */


/* "INDEX PAGE" START */

.headerContainer {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#headerBGContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -150px !important;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px !important;
}

#tempBoopGamesLogo {
  width: 150px;
  padding-bottom: 10px;
  text-align: center;
  margin: 0 auto;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#tempBoopGamesLogo:hover {
  transform: translate(0, -20px);
}

#tempBoopGamesText {
  position: relative;
  width: 300px;
  text-align: center;
  margin: 0 auto;
}

.magnifyingIcon {
  position: absolute;
  right: 20px;
  width: 20px;
  margin-top: 8px;
  height: 35px;
}

/* "INDEX PAGE" END */


/* MAIN CONTAINER START */

.mainSection {
  margin-top: 80px !important;
  position: relative;
  width: 60%;
  margin: 0 auto;
}

/* MAIN CONTAINER END */


/* NAVBAR START */

.navbar {
  visibility: hidden;
  z-index: 2;
  min-height: 77px;
  background-color: #00353e;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: 0 5px 0 #086d6dff;
  margin-bottom: 5px;
}

#navbarContainer {
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbarBoopGamesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

#boopGamesLogo {
  width: 50px;
  margin-right: 15px;
}

#boopGamesText {
  width: 270px;
}

#navRightSide {
  border-radius: 10px;
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchForm {
  border-radius: 10px;
  height: 40px;
  width: 100%;
  position: relative;
  background-color: #D8E9E5;
  box-shadow: 0 5px 0 #8dbeb5ff;
}

form:focus-within {
  outline: 4px solid orange;
}

input:focus {
  outline: none;
}

.searchInput {
  float: left;
  padding-left: 20px;
  margin-top: 3px;
  margin-right: 5px;
  width: 100%;
  border: none !important;
  border-radius: 10px;
  height: 35px;
  color: #087373;
  background-color: #D8E9E5;
}

::placeholder {
  color: #087373;
}

:-ms-input-placeholder {
  color: #087373;
}

::-ms-input-placeholder {
  color: #087373;
}

/* NAVBAR END */


/* ASIDE GAME RESULT PART START */

.movableLeftSide {
  width: 100%;
  position: sticky;
  top: 77px;
  color: white;
}

#gamePosterContainer {
  box-shadow: 0 5px 0 rgb(238, 190, 70);
  position: relative;
}

#gamePoster {
  width: 100%;
  max-height: 400px !important;
  object-fit: cover !important;
}

.gameTitleContainer {
  background-color: var(--colorTurquoise);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  padding: 10px;
  box-shadow: 0 5px 0 #267778ff;
  margin-bottom: 5px;
}

.gameTitleContainer p {
  font-size: 20px;
  text-align: center;
}

.rawgRatingMainContainer {
  background-color: var(--colorSalmon);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 0 #dc4342ff;
  margin-bottom: 5px;
}

.rawgRatingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#rawgRatingCount {
  font-weight: bold;
}

#rawgRating {
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
}

.metacriticRatingContainer {
  background-color: var(--colorViolet);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 0 #6d4becff;
  margin-bottom: 5px;
  text-align: center;
}

#metacriticLogo {
  margin-right: 10px;
  width: 80px;
}

#metacriticRatingLinkBox {
  margin-left: 10px;
  border: none;
  padding: 4px 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: var(--colorViolet);
  box-shadow: 0 3px 0 #6d4becff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#metacriticRatingLinkBox:hover {
  background-color: #6d4becff;
}

#metacriticRating {
  font-size: 1.3rem;
  font-weight: bold;
}

.stars {
  width: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.heartContainer {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 0 #781089ff;
  background-color: var(--colorPlum);
  margin-top: 5px;
}

.heartIcon {
  cursor: pointer;
}

.heartContainer img {
  width: 50px;
  height: auto;
}

.heartContainer img {
  position: absolute;
}

/* ASIDE GAME RESULT PART END */


/* HEART ANIMATION START */

.animated {
  animation-name: fly;
  animation-duration: 3s;
}

@keyframes fly {

  25% {
    transform: translate(0, -50px);
  }

  to {
    transform: scale(2.5) translate(0, -115px);
    opacity: 0;
  }
}

/* HEART ANIMATION END */


/* SEARCH START */

.result-grid {
  position: relative;
  z-index: 3 !important;
  top: 0 !important;
  visibility: hidden;
  height: 100vh;
}

.search-list {
  margin-top: 5px;
  border-radius: 10px 10px 10px 10px;
  position: absolute;
  width: 100%;
  right: 0;
  top: 100%;
  max-height: 350px;
  overflow-y: scroll;
  z-index: 1;
}

.search-list .search-list-item {
  background-color: #0b9c9cff;
  border-bottom: solid 1px white;
  color: white;
}

.search-list .search-list-item:hover {
  background-color: #ED6F00;
  cursor: pointer;
}

.search-list-item {
  width: 100%;
  display: flex;
  align-items: center;
}

.search-list-item:focus {
  border: 8px solid orange;
}

.hide-search-list {
  display: none;
}

.search-item-thumbnail img {
  width: 150px;
  margin-right: 1rem;
}

.search-item-info h3 {
  font-size: 1rem;
}

.search-item-info p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  text-align: left;
}

.search-list::-webkit-scrollbar {
  width: 20px;
  border-radius: 10px;
}

.search-list::-webkit-scrollbar-track {
  background-color: rgb(7, 146, 146);
  border-radius: 0 10px 10px 0;
}

.search-list::-webkit-scrollbar-thumb {
  background-color: rgb(238, 150, 49);
  border-radius: 0 10px 10px 0;
}

.search-list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(196, 111, 14);
  border-radius: 0 10px 10px 0;
}

/* SEARCH END */


/* RIGHT MAIN SIDE START */

.rightSide {
  margin: 0 auto;
}

.screenshotsContainer {
  margin-bottom: 20px;
}

.mainScreenshot {
  width: 100%;
  min-height: 200px !important;
  object-fit: cover !important;
  box-shadow: 0 5px 0 var(--colorYellow);
  margin-bottom: 5px;
}

.screenshots {
  width: 100%;
  min-height: 50px;
  object-fit: cover !important;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.screenshots:hover {
  opacity: 0.5;
}

#screenshotImg1 {
  background-color: black !important;
  box-shadow: 0 5px 0 var(--colorYellow);
  margin-bottom: 5px !important;
}

#screenshotImg2 {
  background-color: black !important;
  box-shadow: 0 5px 0 var(--colorViolet);
  margin-bottom: 5px !important;
}

#screenshotImg3 {
  background-color: black !important;
  box-shadow: 0 5px 0 var(--colorSalmon);
  margin-bottom: 5px !important;
}

#screenshotImg4 {
  background-color: black !important;
  box-shadow: 0 5px 0 var(--colorTurquoise);
  margin-bottom: 5px !important;
}

.descriptionContainer {
  background-color: var(--colorNavy);
  margin-bottom: 25px;
}

#descriptionIcon {
  width: 150px;
}

#description-toggle {
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #ff5f00;
}

.collllapse {
  height: 10ch;
  overflow: hidden;
  position: relative;
}

.collllapse::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4rem;
  content: "";
  background: linear-gradient(0deg,
      rgba(52, 97, 142, 1.0) 0%,
      rgba(52, 97, 142, 0.75) 25%,
      rgba(52, 97, 142, 0.50) 50%,
      rgba(52, 97, 142, 0.25) 75%,
      rgba(52, 97, 142, 0.0) 100%);
}

.descriptionExpandContainer {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 5px 30px;
}

#description {
  padding: 0 30px 20px 30px;
  color: white;
}

.gameInfoContainer {
  margin: 0 auto;
  margin-bottom: 75px;
}

.flipIcons {
  transform: scaleX(-1);
}

.gameInfoIcons {
  width: 40px;
  margin-right: 10px;
}

.gameInfoUpperContainer {
  padding: 40px 0 20px 0;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameInfoLowerContainer {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameInfoLowerTitles {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.platformsContainer {
  background-color: var(--colorTurquoise);
  color: white;
  box-shadow: 0 5px 0 #267778ff;
  margin-bottom: 5px;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.platformsContainer:hover {
  background-color: #267778ff;
}

.releasedContainer {
  background-color: var(--colorSalmon);
  color: white;
  box-shadow: 0 5px 0 #dc4342ff;
  margin-bottom: 5px;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.releasedContainer:hover {
  background-color: #dc4342ff;
}

.genreContainer {
  background-color: var(--colorViolet);
  color: white;
  box-shadow: 0 5px 0 #6d4becff;
  margin-bottom: 5px;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.genreContainer:hover {
  background-color: #6d4becff;
}

.developerContainer {
  background-color: var(--colorPlum);
  color: white;
  box-shadow: 0 5px 0 #781089ff;
  margin-bottom: 5px;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.developerContainer:hover {
  background-color: #781089ff;
}


/* RIGHT MAIN SIDE END */


/* FOOTER START */

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  background-color: #00353e;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: inset 0 3px 0 #40726eff;
  z-index: 3;
  visibility: visible;
}

#rawgButton {
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
}

/* FOOTER END */


/* MOBILE VIEW START */

@media only screen and (max-width: 1366px) {

  .mainSection {
    width: 80%;
  }

  #navbarContainer {
    width: 80%;
  }

}

@media only screen and (max-width: 920px) {

  .mainSection {
    margin-top: 134px !important;
    width: 90%;
  }

  #navbarContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navLeftSide {
    margin-top: 10px;
    width: 100%;
  }

  #boopGamesLogo {
    width: 40px;
  }

  #boopGamesText {
    width: 230px;
  }

  #navRightSide {
    width: 500px;
    margin: 10px;
  }
}

@media only screen and (max-width: 767px) {

  .floating.circle,
  .floating.square,
  .floating.triangle,
  .floating.cross {
    opacity: 0.4;
  }

  .headerContainer {
    width: 90%;
    left: 5%;
  }

  #gamePoster {
    width: 100%;
    max-height: 600px !important;
    object-fit: cover !important;
  }

  .rightSide {
    padding-top: 30px;
  }

  #descriptionIcon {
    width: 130px;
  }

  #description-toggle {
    width: 120px;
  }

}

/* MOBILE VIEW END */